# این فایل را در سرور با نام .env بسازید و مقادیر واقعی را جایگزین کنید.
BALE_BOT_TOKEN=token
ADMIN_ID=519859260
# اختیاری؛ برای چند ادمین: 519859260,123456789
ADMIN_IDS=519859260
LOG_CHAT_ID=-1000000000000
BOT_DB_PATH=/home/jowkdwuy/nashenasV2/bot.sqlite3
